html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}

.w3-light-grey {
  background-color: #f1f1f1;
}

.w3-margin-top {
  margin-top: 16px;
}

.w3-row-padding {
  padding: 0 8px;
}

.w3-third {
  width: 33.3333%;
  padding: 0 8px;
}

.w3-twothird {
  width: 66.6666%;
  padding: 0 8px;
}

.w3-white {
  background-color: #202A44;
}

.w3-text-grey {
  color: #9f9f9f;
}

.w3-card-4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.w3-display-container {
  position: relative;
}

.w3-display-bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}

.w3-container {
  padding: 16px;
}

.w3-margin-bottom {
  margin-bottom: 16px;
}

.w3-text-teal {
  color: #009688;
}

.w3-large {
  font-size: 20px;
}

.w3-round-xlarge {
  border-radius: 16px;
}

.w3-small {
  font-size: 14px;
}

.w3-teal {
  background-color: #009688;
  color: #ffffff;
}

.w3-tag {
  padding: 4px 8px;
  border-radius: 4px;
}

.w3-opacity {
  opacity: 0.6;
}

.w3-padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.fa {
  padding: 8px;
  font-size: 24px;
}

.fa-fw {
  width: 24px;
}

.fa-asterisk {
  color: teal;
}

.fa-briefcase {
  color: teal;
}

.fa-home {
  color: teal;
}

.fa-envelope {
  color: teal;
}

.fa-globe {
  color: teal;
}

.fa-suitcase {
  color: teal;
}

.fa-certificate {
  color: teal;
}

.fa-facebook-official:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #f06292;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.footer {
  background-color: teal;
  color: #ffffff;
  padding: 16px;
  text-align: center;
}

.footer i {
  margin: 0 8px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.footer i:hover {
  opacity: 0.6;
}

